{% extends 'layout.html' %}
{% block content %}
   {% for idea in ideas %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ idea.inventor }}</a>
          <small class="text-muted">{{ idea.date_submitted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ idea.title }}</a></h2>
          <h3><a class="article-title" href="#">{{ idea.category }}</a></h3>
        <p  ssssclass="article-content">{{ idea.description }}</p>
      </div>
    </article>
{%  endfor %}

{% endblock content %}


